<div class="ressources-page">
  <h1 class="ressources-title">Liste des Ressources</h1>

  <div class="ressources-container">
    @for (ressource of ressources(); track ressource.ressourceId) {
      <article class="ressource-card" [attr.data-type]="ressource.type">
        <h2>{{ ressource.title }}</h2>
        <p>{{ ressource.description }}</p>
        <p>{{ ressource.category.name }}</p>
        <span class="ressource-type">{{ ressource.type }}</span>
        <a [routerLink]="['/ressources', ressource.ressourceId]"> Voir la ressource </a>
      </article>
    } @empty {
      <p>Aucune ressource disponible.</p>
    }

    <button (click)="navigateToRessourcesForm()">Add New Resource</button>
    <button (click)="navigateToCategoriesForm()">Add New Category</button>
    <button (click)="navigateToCategories()">View Categories</button>
  </div>
</div>
