<div class="category-page">
  <h1 class="category-title">Catégories</h1>

  <div class="category-container">
    @for (category of categories(); track category.categorieId) {
      <article class="category-card">
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
      </article>
    } @empty {
      <p>Aucune catégorie disponible.</p>
    }

    <div class="category-actions">
      <button (click)="navigateToRessourcesForm()">Add New Category</button>
      <button (click)="navigateToHome()">Retour</button>
    </div>
  </div>
</div>
