<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div>
    <label>title</label>
    <input formControlName="title" type="text" />
    @if (form.get('title')?.invalid && form.get('title')?.touched) {
    <span>Title requis</span>
    }
  </div>

  <div>
    <label>Description</label>
    <input formControlName="description" type="text" />
    @if (form.get('description')?.invalid && form.get('description')?.touched) {
    <span>Description requise</span>
    }
  </div>

  <div>
    <label>Category</label>
    <select formControlName="category">
      <option value="">-- Choisir une categorie --</option>
      @for (c of categories(); track c) {
      <option [value]="c">{{ c.name }}</option>
      }
    </select>
  </div>

  <div>
    <label>Type</label>
    <select formControlName="type">
      <option value="">-- Choisir un type --</option>
      @for (t of type; track t) {
      <option [value]="t">{{ t }}</option>
      }
    </select>
  </div>

  <div>
    <label>Status</label>
    <select formControlName="status">
      <option value="">-- Choisir un status --</option>
      @for (s of status; track s) {
      <option [value]="s">{{ s }}</option>
      }
    </select>
  </div>
  <button type="submit" [disabled]="form.invalid">Envoyer</button>
  <button (click)="navigateToHome()">Retour</button>

  @if (success) {
  <p>Ressource créée avec succès !</p>
  }

  @if (errorMsg) {
  <p>{{ errorMsg }}</p>
  }

</form>