<form (ngSubmit)="onSubmit()">

  <div>
    <label>title</label>
    <input type="text" name="title" />
    @if (false) {
      <span>Title requis </span>
    }
  </div>

  <div>
    <label>Description</label>
    <input type="text" name="description" />
    @if (false) {
      <span>Description requise</span>
    }
  </div>

  <div>
    <label>Category</label>
    <input type="text" name="category" />
    @if (false) {
      <span>Catégorie requise</span>
    }
  </div>

  

  <button type="submit" [disabled]="form.invalid">Envoyer</button>

</form>
