<form (ngSubmit)="onSubmit()" [formGroup]="categoryform">

    <div>
        <label>name</label>
        <input type="text" formControlName="name" />
        @if (false) {
        <span>Name requis </span>
        }
    </div>

    <div>
        <label>Description</label>
        <input type="text" formControlName="description" />
        @if (false) {
        <span>Description requise</span>
        }
    </div>

    <div>
        <label>Type</label>
    </div>

    <button type="submit" [disabled]="categoryform.invalid">Envoyer</button>

</form>